/* .coin {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: lightgray;
  border: 2px solid black;
  text-align: center;
} */

.coin {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.penny {
  background-color: chocolate;
  width: 50px;
  height: 50px;
}

.dime {
  background-color: silver;
  width: 40px;
  height: 40px;
}

.nickel {
  background-color: silver;
  width: 60px;
  height: 60px;
}

.quarter {
  background-color: silver;
  width: 70px;
  height: 70px;
}

section {
  margin-bottom: 30px;
  border-bottom: 1px dashed gray;
  padding-bottom: 30px;
}

.money-container {
  padding: 10px;
}

.bulb {
  padding: 20px;
  background-color: darkgray;
  font-size: large;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.on {
  background-color: wheat;
  color: black;
}

.off {
  background-color: darkgray;
  color: white;
}
